<h2>Contacts</h2>
<hr>

  
  <div class="col-sm-3">
    <b>Search</b> 
    <input class="form-control" id="search" ng-model="vm.search" ng-change="vm.setTotalItems()">
  </div>
  
  <div class="col-sm-2">
    <b>OrderBy</b>
    <select class="form-control" ng-model="vm.orderByColumn" ng-options="col.name for col in vm.sortColumns"></select>
  </div>
  
  <div class="col-sm-2">
    <b>Items per page </b>
    <select class="form-control" ng-model="vm.itemsPerPage" ng-options="opt for opt in vm.optItemsPerPage"></select>
  </div>


<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Company</th>
      <th>Date of birth</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="contact in vm.contacts | orderBy:vm.orderByColumn.value | pagination: vm.currentPage : vm.itemsPerPage | limitTo: vm.itemsPerPage ">
      <td><a ng-href="#/{{contact.id}}" ng-bind="contact.first_name + ' ' + contact.last_name"></a></td>
      <td ng-bind="contact.email"></td>
      <td ng-bind="contact.phone"></td>
      <td ng-bind="contact.company"></td>
      <td ng-bind="contact.birth_date"></td>
    </tr>
  </tbody>
</table>

<pagination total-items="vm.totalItems" ng-model="vm.currentPage" items-per-page="vm.itemsPerPage"></pagination>